#menu {
    position:fixed;
    top:-70px;
    left:0;
    padding:15px;
    text-align:center;
    z-index:1;
}
#downImg {
    position:absolute;
    bottom:-25px;
    right:0;
    height:25px;
}